@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: "Inter";
    background: #1D1F29;
}

img {
    max-width: 100%;
}

span {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
}

/* .rectangle {
    background: #20222F;
    height: 244px;
    border-radius: 0px 0px 20px 20px;
} */

.container {
    /* background: red; */
    width: 1110px;
    margin: 36px auto 75px;
}


.container .hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.container .hero .hero-left h1 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container .hero .hero-left h5 {
    color: #8C98C6;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container .hero .hero-right {
    margin-top: 13px;
    display: flex;
    gap: 13px;
    justify-items: center;
    align-items: center;
}

/* .container .hero .hero-right h5 {
    display: inline-block;
} */

.container .hero .hero-right span:last-child {
    /* border: 2px solid brown; */
    width: 48px;
    height: 24px;
}

.grid-followers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 46px;
}

.fb,
.tweet,
.insta,
.yt {
    background: #252B42;
    border-top: 5px solid #178FF5;
    border-radius: 5px 5px 0 0;
    padding: 32px 63px 24px;
    text-align: center;
}

.insta {
    border-top: 5px solid;
}

.yt {
    border-top: 5px solid #C4032B;
}


.fb .fb-flex,
.tweet .tweet-flex,
.insta .insta-flex,
.yt .yt-flex {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}

.fb .fb-flex h6,
.tweet .tweet-flex h6,
.insta .insta-flex h6,
.yt .yt-flex h6 {
    color: #8C98C6;
    font-size: 12px;
    font-size: normal;
    font-weight: 700;
    line-height: normal;
}

.fb h1:nth-child(2),
.tweet h1:nth-child(2),
.insta h1:nth-child(2),
.yt h1:nth-child(2) {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    margin-bottom: 9px;
    /* border: 3px solid green; */
}

.fb h3:nth-child(3),
.tweet h3:nth-child(3),
.insta h3:nth-child(3),
.yt h3:nth-child(3) {
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.fb div:last-child,
.tweet div:last-child,
.insta div:last-child,
.yt div:last-child {
    /* border: 3px solid tomato; */
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 24px; */
}

.fb div:last-child h5,
.tweet div:last-child h5,
.insta div:last-child h5 {
    color: #1EB589;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* border: 2px solid blue; */
}

.yt div:last-child h5 {
    color: #DC414C;
}


.grid-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}



.page-views {
    padding: 26px 31px 24px 24px;
    border-radius: 5px;
    background: #252B42;
}



.container h1:nth-child(3) {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    /* border: 2px solid red; */
    line-height: normal;
    margin-bottom: 24px;
}

.page-views div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.page-views div:first-child h5 {
    color: #8C98C6;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* border: 2px solid red; */
}

.page-views .overview-count {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
}

.page-views .overview-count div:nth-child(2) {
    display: flex;
    align-items: end;
    gap: 3px;
    /* border: 2px solid violet; */
}

.page-views .overview-count div:nth-child(2) h5 {
    color: #1EB589;
}

.grid-overview .page-views:nth-child(2) .overview-count div:nth-child(2) h5,
.grid-overview .page-views:nth-child(7) .overview-count div:nth-child(2) h5,
.grid-overview .page-views:nth-child(8) .overview-count div:nth-child(2) h5 {
    color: #DC414C;
}